$white: #ffffff;

$theme-colors: (
    "light":      #d2e9fb,
    "dark":       #490a32,
    "primary":    #e11159,
    "secondary":  #6560fa,
    "info":       #4aaada,
    "success":    #65ac0b,
    "warning":    #ffc278,
    "danger":     #f50469,
);

$body-bg: #d2e9fb;

@import "~bootstrap/scss/bootstrap.scss";